

header, footer{
  width:auto;
  height: 200px;
  background-color: #FFD1F2;
  margin:auto;
  font-family: 'Bungee Shade';
  text-align: center;
  padding: 47px;
  font-size: 129;
}

h1 {
    font-size: 82px;
}

h2 {
    font-family: 'Bungee Shade';
    text-align: center;
}


p {
   font-family:serif;
   text-align: center;
 }


main{
  width:auto;
  height:700px;
  background-color:#D7F3FF;
  margin:0 auto;

}

.wrapper {
  display: grid;
  margin-right: auto;
  margin-left:  auto;
  max-width: 960px;
  padding-right: 1px;
  padding-left:  1px;
}
}

.col{
  width: 49.5%;
  height: 500px;
  background: #FFD1F2;
  display: inline-block;
  vertical-align: top;

}

nav{
  width:auto;
  height: 40px;
  background-color: #A3EDF5;
  margin:inherit;

}

nav ul{
  margin-top: 50px;
}
nav ul li{
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

nav ul li a:hover{
  background-color:#D7F3FF;
}



footer{
    width: auto;
    height: 150px;
    background-color:#CCF5E9;
    margin: 0 auto;
    font-size: 20px;
}

.column {
  float: center;
  width: 10%;
  padding: 20px;
}


.row {
  content: "img/th.JPG";
  clear: both;
  display: table;
  justify-content: space-evenly;
}

#grid1{
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "col1 col2 col3";
  grid-auto-rows: auto;
  justify-content: space-between;
  margin-top: 8px;
  background-color: #FFFEC7


}

#col1{
  grid-area: col1;
  background-color: #FFFBC5;
  height: auto;

}

#col2{
  grid-area: col2;
  background-color:#FFFBC5;
  height: auto;
}

#col3{
  grid-area: col3;
  background-color: #FFFBC5;
  height: auto
}
#grid2{
  display: grid;
  grid-template-areas: "col3 col4";
  grid-template-columns: 50% 50%;
  grid-auto-rows: 1fr;
  margin-top: 10px;
}

#col3{
  grid-area: col3;
  background-color: #FFFBC5;
  height: auto;
}

#col4{
  grid-area: col4;
  background-color: #FFFBC5;
  height: auto;
    font-family: 'Assistant', cursive;
}


#col5{
  grid-area: col5;
  background-color: #FFFBC5;
  height: 200px;
}

.images{
  height: 275px;
  display: block;
  margin: 10px auto;

}

#topImage{
  width: 100%;
  height: 610px;
  display:inline-block;
  padding-top: 10px
}
